.form {
  margin-left: 30%;
}
.form-element {
  font-size: 30px;
  display: inline-grid;
}
.form-element label {
  padding-bottom: 15px;
  padding-top: 15px;
}

.input-element {
  border: 2px solid gray;
  border-radius: 4px;
  font-size: 20px;
  padding: 10px;
}

.form-button {
  border: 1px solid greenyellow;
  border-radius: 4px;
  font-size: 20px;
  padding: 10px;
  background-color: greenyellow;
  margin-top: 10px;
}
#read {
  height: 20px;
  width: 20px;
}
.special {
  display: flex;
  align-items: center;
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

.title {
  padding: 20px;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: 700;
}
