body {
  background-color: beige;
}
h2 {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 40px;
  font-family: "Courier New", Courier, monospace;
}
h2,
.search-bar {
  text-align: center;
}
.location {
  border: 1px solid slategray;
  border-radius: 6px;
  font-size: 16px;
  padding: 10px;
}

.button {
  background-color: springgreen;
  border: 1px solid springgreen;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  padding: 10px;
  cursor: pointer;
  color: rgb(65, 71, 71);
}

.weather-details {
  margin-left: 39%;
  margin-top: 50px;
  background-color: gray;
  border: 1px solid gray;
  width: 400px;
  height: 400px;
  border-radius: 10px;
}

.city-name {
  padding-top: 10px;
  background-color: tomato;
  text-align: center;
  border-bottom: 2px solid white;
  color: white;
  font-size: 25px;
  font-family: "Courier New", Courier, monospace;
  height: 80px;
}
.temp {
  padding-top: 10px;
  color: white;
  padding-left: 2px;
  border-bottom: 2px solid white;
  color: white;
  font-size: 25px;
  height: 80px;
  font-family: "Courier New", Courier, monospace;
}
.wind {
  padding-top: 10px;
  color: white;
  text-align: center;
  border-bottom: 2px solid white;
  color: white;
  font-size: 25px;
  height: 80px;
  font-family: "Courier New", Courier, monospace;
}

.description {
  color: white;
  text-align: center;
  padding-top: 10px;
  color: white;
  font-size: 30px;
  height: 100px;
  font-family: "Courier New", Courier, monospace;
}
.weather-details {
  display: none;
}
